.pln {  
  color: #333333;
}

.prettyprint {  
  overflow: auto !important;
}

@media screen {
  .str {    
    color: #dd1144;  
}
  .kwd {    
    color: #333333;  
}
  .com {    
    color: #999988;  
}
  .typ {    
    color: #445588;  
}
  .lit {    
    color: #445588;  
}
  .pun {    
    color: #333333;  
}
  .opn {    
    color: #333333;  
}
  .clo {    
    color: #333333;  
}
  .tag {    
    color: navy;  
}
  .atn {    
    color: teal;  
}
  .atv {    
    color: #dd1144;  
}
  .dec {    
    color: #333333;  
}
  .var {    
    color: teal;  
}
  .fun {    
    color: #990000;  
}
}

@media print, projection {
  .str {    
    color: #006600;  
}
  .kwd {    
    color: #000066;    
    font-weight: bold;  
}
  .com {    
    color: #660000;    
    font-style: italic;  
}
  .typ {    
    color: #440044;    
    font-weight: bold;  
}
  .lit {    
    color: #004444;  
}
  .pun, .opn, .clo {    
    color: #444400;  
}
  .tag {    
    color: #000066;    
    font-weight: bold;  
}
  .atn {    
    color: #440044;  
}
  .atv {    
    color: #006600;  
}
}

pre.prettyprint {  
  background-color: #f0f0f0;  
  background-image: none;  
  background-repeat: repeat;  
  background-attachment: scroll;  
  background-position: 0% 0%;  
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;  
  font-size: 12px;  
  line-height: 1.5;  
  border-top-width: 1px;  
  border-top-style: solid;  
  border-top-color: #cccccc;  
  border-right-width: 1px;  
  border-right-style: solid;  
  border-right-color: #cccccc;  
  border-bottom-width: 1px;  
  border-bottom-style: solid;  
  border-bottom-color: #cccccc;  
  border-left-width: 1px;  
  border-left-style: solid;  
  border-left-color: #cccccc;  
  padding-top: 0px;  
  padding-right: 0px;  
  padding-bottom: 0px;  
  padding-left: 0px;
}

ol.linenums {  
  margin-top: 0px;  
  margin-bottom: 0px;  
  color: #888888;
}

.linenums li {  
  background-color: #fafafa;  
  background-image: none;  
  background-repeat: repeat;  
  background-attachment: scroll;  
  background-position: 0% 0%;  
  padding-left: 10px;  
  border-left-width: 1px;  
  border-left-style: solid;  
  border-left-color: #cccccc;
}

.linenums li {  
  padding-top: 5px;
}

.linenums li + li {  
  padding-top: 0px;
}

.linenums li:last-child {  
  padding-bottom: 5px;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
}

#nb {  
  font-size: smaller;
}

